/* Copyright (c) 2018 SerialLab Corp.

GNU GENERAL PUBLIC LICENSE
   Version 3, 29 June 2007

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. */
.release-list-style {
  list-style: none;
  width: 70%;
  padding: 15px 5px;
  font-size: 19px;
  position: relative;
  z-index: 10;
}
.form-card.pt-elevation-4.zero-padding {
  padding: 10px;
  margin: 25px 0;
  position: relative;
  z-index: 0;
  max-height: 90%;
}
.form-card.pt-elevation-4.zero-padding h4 {
  padding: 10px 0 0 40px;
}
.form-card.pt-elevation-4.zero-padding h4 span{
  margin: 0 10px;
}
.form-card.pt-elevation-4.zero-padding img {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  width: 170px;
  height: 170px;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);
}
.feature-description {
  width: 400px;
}
.service-list {
  display:flex;
  flex-direction:row;
  align-items:center;
  align-content:space-between;
  width:100%;
  margin:0;
  padding:0;
  flex-wrap: wrap;
  justify-content:space-between;
}
.service-list li {
  display: flex;
  align-items: center;
  flex: 1;
  padding:10px 20px 0 20px;
  margin:10px 10px 30px 20px;
  font-size:22px;
  position:relative;
  min-width:250px;
  font-variant: small-caps;
}
.service-list li::after {
  position: absolute;
  content: "";
  background-color: #FFF;
  bottom: 0;
  left: 20px;
  height: 1px;
  width: 100px;
}
.service-list li img{
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background-color: transparent;

}
/* .flex-row{
  display: flex;
  align-items: center;
} */
.hidden-line {
  display: none;
}
.flex-row {
  display: flex;
  align-items: center;
}
.password-flex {
  flex: 8;
}
.button-container {
  flex: 4;
  justify-content: center;
}
.pt-button-inside-array-2,
.pt-button-inside-array {
  margin: 0 10px;
}
/* .pt-button-inside-array-2 {
  margin-left: 140px;
} */
/* .pt-dark .service-list li {
  border-bottom: 3px solid #DDD;
}
.pt-dark .service-list li span.icon-dot {
  border: 2px solid #DDD;
  background:#DDD;
}
.service-list li span.icon-dot {
  border-radius: 50%;
  width:40px;
  height:40px;
  border: 2px solid #6B6B70;
  display:block;
  position:absolute;
  right:-1px;
  top:53%;
  background:#6B6B70;
} */
